<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer - Add</title>
</head>
<body>
    <h1>Customer Add</h1>
    <form th:action="@{/customer/save}" method="post">
        <label>Account No : </label>
        <input type="text" name="accountNo"> <br/><br/>

        <label>Name : </label>
        <input type="text" name="name"> <br/><br/>

        <label>Email : </label>
        <input type="text" name="email"> <br/><br/>

        <label>Phone Number : </label>
        <input type="text" name="phoneNumber"> <br/><br/>

        <label>Address : </label>
        <input type="text" name="address"> <br/><br/>

        <button type="submit">Save</button>
    </form>
</body>
</html>